<!DOCTYPE html>
<html>
    <head>
        <title>Titulo</title>
    </head>
    <body>
        <nav>
            <ol>
                <li class="links"><a href="#">Sing in</a></li>
                <li class="links"><a href="#">Login up</a></li>
              </ol>
        </nav>
        <div>
            <ol>
                <li class="links"><a href="#">Sing in</a></li>
                <li class="links"><a href="#">Login up</a></li>
            </ol>
        </div>
        <table>
            <tr>
                <th>LUN</th>
                <th>MAR</th>
                <th>MIE</th>
                <th>JUE</th>
                <th>VIE</th>
                <th>SAB</th>
                <th>DOM</th>
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
            </tr>
            <tr>
                <td>3</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
            </tr>
            <tr>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
            </tr>
            <tr>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
            </tr>
            <tr>
                <td>6</td>
                <td>6</td>
                <td>6</td>
                <td>6</td>
                <td>6</td>
                <td>6</td>
                <td>6</td>
            </tr>
        </table>
    </body>
</html>